.menu-mobile {
  display: none;
}
.burger {
  display: none;
  cursor: pointer;
}

.menu-mobile__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.move {
  left: calc(100% - 116px - 184px);
}

.logoHeaderColor {
  color: #f1cdb3;
}

.logoDescriptionColor {
  color: #ffffff;
}

.backgroundOpacity {
  background-color: rgba(225, 225, 225, 0);
}

@media (max-width: 767px) {
  .burger {
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  .burger.isRotate {
    transform: rotate(-90deg);
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;

    background: rgba(0, 0, 0, 0);
    z-index: -2;

    transition: z-index 0.5s step-end, background-color 0.5s ease-in-out;
  }

  .menu-mobile.isOpen {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: z-index 0.5s step-start, background-color 0.5s ease-in-out;
  }

  .menu-mobile__wrapper {
    width: 320px;
    height: 100%;
    padding: 120px 10px;
    box-sizing: border-box;
    background: #fff;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .menu-mobile.isOpen .menu-mobile__wrapper {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  .menu-item {
    font-size: 1.2rem;
    color: #5068a5;
  }

  .menu-item:hover {
    color: #4563a0;
    text-decoration: none;
  }

  .menu-item + .menu-item {
    margin-top: 40px;
  }

  header {
    position: relative;
    z-index: 2;
  }
}
